.tooltip-type1{
  max-width: 300px;  
  background: linear-gradient(135deg, #0D365E 0%, #00163D 100%);  
  border: 1px solid #2090FF;  
  font-size: 24px;  
  font-family: "Source Han Sans CN-Regular, Source Han Sans CN";  
  color: #fff;  
  padding: 8px;  
  word-wrap: break-word;
  border-radius: 6px;
}